@model IEnumerable<FindYourJob.Models.JobCategory>

@{
    ViewBag.Title = "Index";
}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h2></h2>



            </div>
        </div>
    </div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "button ripple-effect" })
</p>


<table  class="basic-table" border="1">
    <tr>
        <th>
 
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
       
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobCategoryID }, new { @class = "button ripple-effect" }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobCategoryID }, new { @class = "button ripple-effect" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobCategoryID }, new { @class = "button ripple-effect" })
            </td>
        </tr>
    }

</table>
