@model IEnumerable<FindYourJob.Models.JobCategory>

@{
    ViewBag.Title = "Index";
}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h2></h2>



            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobCategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobCategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobCategoryID })
            </td>
        </tr>
    }

</table>
